[submodule "vsomeip"]
	path = vsomeip
	url = https://github.com/COVESA/vsomeip.git
[submodule "capicxx-someip-runtime"]
	path = capicxx-someip-runtime
	url = https://github.com/COVESA/capicxx-someip-runtime.git
[submodule "capicxx-core-runtime"]
	path = capicxx-core-runtime
	url = https://github.com/COVESA/capicxx-core-runtime.git
